version: 0.1
storage:
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
    enabled: true
  maintenance:
    uploadpurging:
      enabled: true
      age: 168h
      dryrun: false
      interval: 45m
http:
  addr: 0.0.0.0:5000
proxy:
  remoteurl: https://registry-1.docker.io